@import "../variables.scss";
@import "../mixin.scss";
.nav-wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: $box-shadow;
  z-index: 1;
  background-color: $nav-color;
}
.navbar {
  margin: auto;
  max-width: $content-width;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   transform: translateY(-500px);
  //   position: absolute;
  @include xLarge {
    max-width: 1040px;
  }
  .logo {
    h1 {
      margin: 0;
      color: $p-color;
      a {
        text-decoration: none;
        color: $p-color;
      }
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    padding: 0.5rem;
    @include medium {
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      background-color: $nav-color;
      transition: linear 0.5s transform;
      transform: translateX(100%);
      transform-origin: top;
      width: 50%;
      top: 60px;
      right: 0;
      height: 400px;
    }

    li {
      margin: 0;
    }

    .nav-item {
      margin-left: 2.5rem;
      text-decoration: none;
      color: $s-color;
      @include medium {
        margin: 0;
      }
    }
  }
  .nav-links-responsive {
    transform: translateX(0);
  }
  .burger-menu {
    display: none;
    cursor: pointer;

    @include medium {
      display: block;
    }
    .line {
      height: 3px;
      width: 25px;
      background-color: $p-color;
      margin-bottom: 5px;
      border-radius: 1px;
    }
  }
}
