.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  //   transform: translateY(-500px);
  //   position: absolute;
  .logo {
    h1 {
      margin: 0;
      color: black;
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
    padding: 0.5rem;

    li {
      margin: 0;
    }

    .nav-item {
      margin-left: 2rem;
      text-decoration: none;
      color: black;
    }
  }
}
