@import "../variables.scss";
@import "../mixin.scss";
// .bg-image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   height: 100vh;
//   width: 100%;
//   background-image: url("../../../static/introbg.jpg");
//   filter: grayscale(100%);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
// }
.intro-wrapper {
  position: relative;
  margin: 30px 0 30px 0;

  .intro-content {
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .type-wrapper {
      color: black;
      text-align: left;

      span {
        font-size: 3rem;
        font-weight: bold;
      }

      p {
        font-size: 1.5rem;
        font-weight: 300;
      }
      .social-icons {
        font-size: 1.5rem;
        max-width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 30px 0;

        path {
          color: $s-color;
        }
      }
    }
    .info-wrapper {
      display: flex;
      padding: 0;
      background-color: $p-color;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;

      img {
        height: 100%;
        width: 281px;
      }
    }
  }
}
