@import "../variables.scss";
@import "../mixin.scss";

html {
  background-color: $bg-color;
}
.container {
  margin: 0 auto;
  max-width: $content-width;
  @include xLarge {
    margin: 0 auto;
    max-width: 1040px;
  }
}
