@import "../variables.scss";
@import "../mixin.scss";
.skill-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;

  h1 {
    margin-bottom: 60px;
    color: $s-color;
  }
  .skill-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @include medium {
      flex-direction: column;
      align-items: center;
    }

    .skill-card {
      flex: 1;
      height: 300px;
      max-width: 300px;
      padding: 20px;
      margin: 10px;
      font-size: 3rem;
      color: $p-color;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: $nav-color;
      box-shadow: $box-shadow;
      border-radius: 10px;

      @include medium {
        margin: 60px;
      }
      .icon-wrapper {
        background-color: $s-color;
        min-height: 100px;
        min-width: 100px;
        border-radius: 50%/50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 10px 0;
        color: $s-color;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
